<!DOCTYPE html>
html
	head
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
		<meta name="format-detection" content="telephone=no" />
		<title>dieter</title>
		<link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="/stylesheets/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
		<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" src="/script/bootstrap.min.js"></script>
		<script type="text/javascript" src="/script/dieter.js"></script>
	body
		block content
