doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/scripts/bower_components/jquery/jquery.js')
  body
    block content