extends layout

block content
  h1= title
  p Sign up
  p <form action="/api/signup" method="post"/>
  p id : <input />
  p pw : <input type="password" />
  p confirm pw : <input type="password" type="confirm password" />
  p <input type="submit" value="signup"/>
  p </form>